*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#beg{
    padding: 20px, 20px;
    
    color: black;
    position: relative;
    font-size: 30px;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px , 8%;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    justify-content: space-evenly;
    font-size: 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
 
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px, 40px, 0 20px;
}
.container .heading{
    padding-bottom: 5%;

}
.container .heading h3{
    color: black;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 2px solid black;
    text-decoration: none;
}
.container .heading h3 span{
    font-weight: 100;
    color: #990000;

}
.container .dream{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .dream .box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
}
.container .dream .box img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    
}
  .heading1{
    color: black;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 2px solid black;
    text-decoration: none;
    padding-left: 20rem;
    padding-right: 20rem;
  }

 .heading1 span{
    font-weight: 100;
    color: #990000;
}
#aboutcontent{
    line-height: 2;
}
#aboutimg{
    max-width: 52%;
    max-height: auto;
    float: left;
    padding-top: 2rem;
    
    
}
#imgdiv h2{
    font-size: 6rem;
    font-weight: lighter;
}
#imgdiv h2 span{
    color: #990000;
    fo
}

#h4 {
    font-size: 2 rem;
    font-weight: lighter;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
#h4 span{
    color: #990000;
}
.imgs{
    height: 500px;
    object-fit: cover;
    object-position: center center;
}

.divs{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h3{
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h3 span{
    color: #990000;
}
h5{
    font-size: medium;
    padding: 1rem;
}

#maneno{
    padding: 3rem
}
#footer{
    padding-top: 2rem;
    color: #990000;
}
.form{
    padding: 1rem;
}
#btn {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btn:hover {
    background-color: #990000;
  }
  